<script src="../../../server.js"></script>
<nav class="art-nav">
  <div class="art-nav-inner">
    <h1 class="titre">Truck api</h1>
    <ul class="art-hmenu">
      <li> {{#link-to 'home'}}Home{{/link-to}}  </li>
      <li> {{#link-to 'simulator'}}Simulator{{/link-to}} </li>
      <li>{{#link-to 'truck'}}Truck{{/link-to}} </li>
      <li>{{#link-to 'score'}}Score{{/link-to}}</li>
    </ul>
  </div>
</nav>
{{outlet}}
<footer class="art-footer">
  <div class="art-footer-inner">
    <p>Dumont Aurore | Sarfraz Fahad | Zhou Edouard</p>
    <p>Copyright © 2017. All Rights Reserved.</p>
  </div>
</footer>
