<div id="art-main">
  <header class="art-header">
    <div class="art-shapes">
      <img style="width: 100%" src="/assets/entete.jpg">
    </div>
  </header>
  <div class="art-sheet clearfix">
        <article class="art-post art-article">
            <div class="art-postcontent art-postcontent-0 clearfix">
              <div class="art-content-layout">
                <div class="art-content-layout-row">
                    <div class="art-layout-cell layout-item-1" style="width: 100%" >
                      <h3 style="border-bottom: 1px solid #CFD8E2; padding-bottom: 5px">Welcome</h3><p>This web site </p>
                  </div>
                </div>

                <div class="art-content-layout">
                  <div class="art-layout-cell layout-item-1" >
                    <div class="art-background" >
                      <h3 style="border-bottom: 1px solid white; padding-bottom: 5px">Score</h3><p>The classement of Simulator<br>1-</p><p>2-</p><p>3- </p><div class="button" style="color:#97D5E0;background: white; width:10% " >{{#link-to 'score'}}Plus{{/link-to}}</div>
                    </div>
                    </div>
                  <div class="art-layout-cell layout-item-1" >
                    <div class="art-background" >
                      <h3 style="border-bottom: 1px solid white; padding-bottom: 5px">Simulation</h3><p>To access to simulator, click on this button</p><div class="button" style="color:#97D5E0;background: white; width:10% " >{{#link-to 'simulator'}}Plus{{/link-to}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </article>
  </div>
</div>

{{outlet}}