<div id="art-main">
  <header class="art-header">
    <div class="art-shapes">
      <img style="width: 100%" src="/assets/entete.jpg">
    </div>
  </header>
  <div class="art-sheet clearfix">
        <article class="art-post art-article">
            <div class="art-postcontent art-postcontent-0 clearfix">
              <div class="art-content-layout">
                <div class="art-content-layout-row">
                    <div class="art-layout-cell layout-item-1" style="width: 100%" >
                      <h3 style="border-bottom: 1px solid #CFD8E2; padding-bottom: 5px">Welcome</h3><p><span style="font-weight: bold;">Auctor ac egestas turpis ipsum leo arcu eros neque maecenas purus.</span></p><p>Curae vitae dolor enim sodales gravida et consectetuer sodales semper at eros odio at enim ante enim ut non. Nam sociosqu suscipit est ante.</p><p>nuonlo,</p><p>bhjnoi,</p><p><br></p><div class="image-caption-wrapper" style="width: 100%">
                    </div>
                  </div>
                </div>
                  <div class="art-content-layout">
                    <div class="art-content-layout-row">
                      <div class="art-layout-cell layout-item-1" style="width: 50%" >
                        <h3 style="border-bottom: 1px solid #CFD8E2; padding-bottom: 5px">Score</h3><p><span style="font-weight: bold;">djtd<br>1-ff</span></p><p><span style="font-weight: bold;">2-jjj</span></p><p><span style="font-weight: bold;">3- ggg</span></p><p><span style="font-weight: bold;"><br></span></p>
                      </div>
                      <div class="art-layout-cell layout-item-2" style="width: 50%" >
                        <h3 style="border-bottom: 1px solid #CFD8E2; padding-bottom: 5px">Simulation</h3><p><span style="font-weight: bold;">In tincidunt viverra velit etiam eget praesent per accumsan a praesent. Luctus nisi nunc ultrices urna augue.</span></p><p><a href="#" class="art-button">Plus</a></p>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
        </article>
  </div>
</div>

{{outlet}}