<div id="art-main">
  <div class="art-sheet clearfix">
    <div class="art-layout-wrapper">
      <div class="art-content-layout">
        <div class="art-content-layout-row">
          <div class="art-layout-cell art-content">
             <article class="art-post art-article">

                      <img style="width:80%; height:500px; margin:10%;" src="/assets/carte_france_routiere.png">
                
             </article></div>
        </div>
      </div>
    </div>
  </div>
</div>
{{outlet}}