<div id="art-main">
  <div class="art-sheet clearfix">

                    <table>
                      <tr style="background:#97D5E0;">
                        <th>Truck</th>
                        <th>Resource</th>
                        <th>Speed</th>
                        <th>Cities</th>
                      </tr>
                      <tr>
                        <td><img src="/assets/camion_vert.png" width="200" height="100" /></td>
                        <td>Grapes</td>
                        <td>80 km/h</td>
                        <td>
                          <ul>
                            <li>Bordeaux</li>
                            <li>Marseille</li>
                            <li>Paris</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td><img src="/assets/camion_rouge.png" width="200" height="100" /></td>
                        <td>Strawberries</td>
                        <td>90 km/h</td>
                        <td>
                          <ul>
                            <li>Brest</li>
                            <li>Lille</li>
                            <li>Lyon</li>
                          </ul>
                        </td>
                      </tr>
                      <tr >
                        <img src="/assets/camion_bleu.png" width="200" height="100" />
                        <td>Blueberries</td>
                        <td>100 km/h</td>
                        <td>
                          <ul>
                            <li>Clermont-Ferrand</li>
                            <li>Nantes</li>
                            <li>Strasbourg</li>
                          </ul>
                        </td>
                      </tr>
                    </table>

  </div>
</div>



